<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
</head>
<body class="bg-white w-full min-h-screen flex flex-col justify-center items-center">
  
	<h1 class="text-gray-700 font-extrabold text-4xl">
		Admin Area
	</h1>
	<a href="/logout" class="mt-9 text-white px-4 py-2 bg-rose-600 rounded hover:scale-105 hover:bg-rose-500 hover:shadow-md">
		Logout
	</a>
  
	<%- include('../partials/script') %>
</body>
</html>
