    <section class="bg-white py-6 relative">
        <div class="container">
            <div class="flex items-center flex-wrap">
                <div class="grow">
                    <div class="flex items-center gap-3">
                        <div class="inline-flex items-center"><a href="#">Privacy <i class="fa-solid fa-minus text-sm"></i></a></div>
                        <div class="inline-flex items-center"><a href="#">Terms <i class="fa-solid fa-minus text-sm"></i></a></div>
                        <div class="inline-flex items-center"><a href="#">Developers <i class="fa-solid fa-minus text-sm"></i></a></div>
                        <div class="inline-flex items-center"><a href="#">Support</a></div>
                    </div>
                </div>
                <div class="shrink md:text-end mt-4 lg:mt-0">
                    <p class="text-sm mb-0"><script>document.write(new Date().getFullYear())</script> © Prompt. All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>