    <div id="mobileMenu" class="fc-offcanvas-open:translate-x-0 translate-x-full fixed top-0 end-0 transition-all duration-200 transform h-full w-full max-w-md z-50 bg-white border-s hidden">
        <div class="flex flex-col h-full divide-y-2 divide-gray-200">
            <!-- Mobile Menu Topbar Logo (Header) -->
            <div class="p-6 flex items-center justify-between">
                <a href="index.html">
                    <img src="assets/images/logo-dark.png" class="h-8" alt="Logo">
                </a>

                <button data-fc-dismiss class="flex items-center px-2">
                    <i class="fa-solid fa-xmark text-xl"></i>
                </button>
            </div>

            <!-- Mobile Menu Link List -->
            <div class="p-6 overflow-scroll h-full">
                <ul class="navbar-nav flex flex-col gap-2" data-fc-type="accordion">
                    <!-- Home Page Link -->
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>

                    <!-- Landing Page -->
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-fc-type="collapse" class="nav-link">
                            Landing <i class="fa-solid fa-angle-down ms-auto align-middle transition-all fc-collapse-open:rotate-180"></i>
                        </a>

                        <ul class="hidden overflow-hidden transition-[height] duration-300 space-y-2">
                            <li class="nav-item mt-2">
                                <a class="nav-link" href="home-app.html">App</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="home-saas.html">Saas Modern</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="home-saas2.html">Saas Classic</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="home-startup.html">Startup</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="home-software.html">Software</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="home-agency.html">Agency</a>
                            </li>

                            <li class="nav-item">

                                <a class="nav-link" href="home-coworking.html">Coworking</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="home-crypto.html">Crypto</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="home-marketing.html">Marketing</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="home-portfolio.html">Portfolio</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Inner Page -->
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-fc-type="collapse" class="nav-link">
                            Pages <i class="fa-solid fa-angle-down ms-auto align-middle transition-all fc-collapse-open:rotate-180"></i>
                        </a>

                        <ul class="hidden overflow-hidden transition-[height] duration-300 space-y-2">
                            <li class="nav-item mt-2">
                                <a class="nav-link" href="company.html">Company</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="career.html">Career</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="pricing.html">Pricing</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="help.html">Help</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Blog Page -->
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-fc-type="collapse" class="nav-link">
                            Blog Page <i class="fa-solid fa-angle-down ms-auto align-middle transition-all fc-collapse-open:rotate-180"></i>
                        </a>

                        <ul class="hidden overflow-hidden transition-[height] duration-300 space-y-2">
                            <li class="nav-item mt-2">
                                <a class="nav-link" href="blog.html">Blog</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Portfolio Page -->
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-fc-type="collapse" class="nav-link">
                            Portfolio <i class="fa-solid fa-angle-down ms-auto align-middle transition-all fc-collapse-open:rotate-180"></i>
                        </a>

                        <ul class="hidden overflow-hidden transition-[height] duration-300 space-y-2">
                            <li class="nav-item mt-2">
                                <a class="nav-link" href="portfolio-grid.html">Portfolio Grid</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="portfolio-masonry.html">Portfolio Masonry</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="portfolio-item.html">Portfolio Item</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="account-confirm.html">Confirm Account</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Auth Page -->
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-fc-type="collapse" class="nav-link">
                            Account <i class="fa-solid fa-angle-down ms-auto align-middle transition-all fc-collapse-open:rotate-180"></i>
                        </a>

                        <ul class="hidden overflow-hidden transition-[height] duration-300 space-y-2">
                            <li class="nav-item mt-2">
                                <a class="nav-link" href="account-login.html">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="account-signup.html">Sign Up</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="account-forget-password.html">Forget Password</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="account-confirm.html">Confirm Account</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Contact Page Link -->
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact us</a>
                    </li>
                </ul>
            </div>

            <!-- Mobile Menu Download Button (Footer) -->
            <div class="p-6 flex items-center justify-center">
                <a href="https://1.envato.market/prompt-tailwind" target="_blank" class="bg-primary w-full text-white p-3 rounded flex items-center justify-center text-sm">Download</a>
            </div>
        </div>
    </div>